* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
}


#Header button {
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-family: inherit;
  font-size: 1.3rem;
  z-index: 10;
}

#Header {
  font-size: 1.2rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.139);
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

#Header .cover {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.4;
}

#Header h1 {
  margin: 0 2rem;
}

#Header h1 span {
  -color: #8b31af;
  -color: #982ec2;
  -color: rgb(250, 60, 80);
  color: rgb(233, 60, 75);
}

#Header ul {
  margin-left: auto;
  margin-right: 1.5rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#Header ul li {
  margin-left: 2.5rem;
  z-index: 10;
}

#Header ul li .login.button {
  text-decoration: none;
  color: inherit;
}

.Landing {
  height: 100vh;
  width: 100%;
  margin-top: 8rem;
}

.Landing .cover {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.3;
}

.Landing button {
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-family: inherit;
  font-size: 1.3rem;
}

.Landing main {
  padding: 3rem;
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: calc(100vh - 5rem);
  background-color: #555;
}

.Landing main .mainleft {
  margin: auto 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  padding-right: 10%;
}

.Landing main .mainleft h1 {
  font-size: 3rem;
  color: #db2929;
}

.Landing main .mainleft h3 {
  font-size: 1.84rem;
  margin-top: 5%;
  color: white;
}

.Landing main .mainleft .buttons {
  margin-top: 8%;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.Landing main .mainleft .buttons button {
  margin-right: 5%;
  border: 2px solid rgb(190, 189, 189);
  padding: 1rem;
  color: rgb(195, 195, 195);
  z-index: 10;
}

.Landing main .mainleft .buttons button:hover {
  cursor: pointer;
}

.Landing main .mainleft .buttons .client,
.Landing main .mainleft .buttons .freelancer {
  text-decoration: none;
  color: inherit;
}

.Landing main .mainright {
  width: 45%;
}

.Landing main .mainright img {
  width: 90%;
  height: auto;
}